<!DOCTYPE html>
<html>
  <head>
    
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
    <body>
        <div class="container">
            <h1>Iris Classification</h1>
            <p>This model uses information from the iris dataset to classify the class of iris plant based on several feature characteristics.
            </p>
            <div class='Login'>
              <form action="{{ url_for('predict') }}"method="post">
                  <input type="text" class='form-control' name="sepal_length" placeholder="Sepal Length (cm)" required="required" /><br>
                  <input type="text" class='form-control' name="sepal_width" placeholder="Sepal Width (cm)" required="required" /><br>
                  <input type="text" class='form-control' name="petal_length" placeholder="Petal Length (cm)" required="required" /><br>
                  <input type="text" class='form-control' name="petal_width" placeholder="Petal Width (cm)" required="required" /><br>
                  

                  <button type="submit" class='btn btn-primary btn-block btn-Large'>Predict</button>
              </form>
            </div>
            <br>
            <br>
            <h1>{{ prediction_text }}</h1>
        </div>
    </body>
</html